@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

/* Header and footer styles */
header,
footer {
	background: #1f2937;
	color: #f9faf8;
	padding: 1rem 10rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

.navbar ul {
	list-style: none;
}

.navbar li {
	display: inline;
	margin: 0 1vw;
	cursor: pointer;
}

.header-container {
	padding: 2rem 0;
}

.header-container img {
	width: 50%;
	height: auto;
}

.header-main-text {
	font-size: 48px;
	font-weight: 800;
	color: #f9faf8;
}

.header-secondary-text,
.header-link {
	font-size: 18px;
	color: #e5e7eb;
}

.header-secondary-text {
	padding: 1rem 0;
}

.header-logo {
	font-size: 24px;
	color: #f9faf8;
	cursor: pointer;
}

.sign-up {
	background: #3882f6;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	color: #f9faf8;
	font-weight: 700;
	cursor: pointer;
}

.sign-up-flat {
	background: #3882f6;
	border: 2px solid #f9faf8;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	color: #f9faf8;
	font-weight: 700;
	cursor: pointer;
}

/* Main body styles */
.information {
	padding: 1rem 10rem;
	margin-top: 1rem;
}

main h2:first-child {
	font-size: 36px;
	font-weight: 800;
	color: #1f2937;
	text-align: center;
	padding: 1rem;
}

.illustration-images {
	margin: 1.5rem 0;
}

.illustration-box {
	text-align: center;
	padding: 0.5rem;
}

.illustration-box img {
	width: 150px;
	height: 150px;
	border: 3px solid #3882f6;
	margin: 0.5rem;
	padding: 0.5rem;
}

.quote-section {
	background: #e5e7eb;
	color: #1f2937;
	font-size: 36px;
	font-weight: 200;
	padding: 2rem 10rem;
	margin: 2rem 0;
}

.quote-author {
	font-size: 18px;
	text-align: right;
	padding-top: 1.5rem;
}

.interested-box {
	background: #3882f6;
	margin: 3rem 10rem;
	border-radius: 5px;
	color: #f9faf8;
}

.information-interest {
	padding: 2rem;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* Footer styling */
footer {
	text-align: center;
}
